/**
 * Archetype Settings 
 *
 */


/**
 * Imports
 *
 * 1. https://github.com/chriseppstein/compass
 */
@import "compass";                                        /* 1 */

/**
 * Compass
 * 
 * 1. Enable Compass to use HTML hacks to support IE 6 and 7
 *    Note: Archetype supports IE9+ (IE6-8 are served a linear layout)
 */
$legacy-support-for-ie6 : false;                          /* 1 */
$legacy-support-for-ie7 : false;                          /* 1 */
$legacy-support-for-ie8 : true;                           /* 1 */

/*** @export "vertical-rhythm" css */
/**
 * Compass Vertical Rhythm 
 * 
 * 1. Set this false for px's
 * 2. This is automaticly converted to 100% by compass
 * 3. Establishes a baseline for $base-font-size
 */
$relative-font-sizing : true;                         /* 2 */
$base-font-size: 16px; // just for now //$base-size;                          /* 2 */ 
$base-line-height: 24px;
@include establish-baseline($base-font-size);         /* 3 */

/**
 * Archetype Main Style Sheet
 * 
 */

/**
 * Utilities
 */
@import "Archetype-u-componentConstructor";
@import "Archetype-u-colorkit";
@import "Archetype-u-normalize";
@import "Archetype-u-units";
/**
 * Objects
 */
//@import "bower_components/Archetype-o-nav";
//@import "bower_components/Archetype-o-alert";
//@import "bower_components/Archetype-o-button";
//@import "bower_components/Archetype-o-close";
//@import "bower_components/Archetype-o-label";
//@import "bower_components/Archetype-o-media";
//@import "bower_components/Archetype-o-partition";

/**
 * Components
 */
@import "Archetype-c-typography";
@import "Archetype-c-page";
//@import "Archetype-c-spacers";


//@import "Archetype-c-lists";
//@import "Archetype-c-links";
//@import "Archetype-c-forms";
//@import "Archetype-c-code";
//@import "Archetype-c-figures";
//@import "Archetype-c-media";
//@import "Archetype-c-quotes";
//@import "Archetype-c-rules";
//@import "Archetype-c-alerts";
//@import "Archetype-c-buttons";
//@import "Archetype-c-close";
//@import "Archetype-c-icons";
//@import "Archetype-c-labels";
//@import "Archetype-c-nav";
//@import "Archetype-c-partitions";
//@import "Archetype-c-tabs";
//@import "Archetype-c-tables";

/**
 * Layout
 */
@import "layout/breakpoints";
@import "layout/l-settings";
//@import "layout/print";

/**
 * Temp
 */
@import "temp/temp";

