/*doc
---
title: Breakpoints
name: Breakpoints
category: layout
---

Breakpoints are the major breakpoints within a design system. These are used in media queries via the breakpoint module.

this is here for an example:

<div id="toggleArrow1" class="hideVisually">Yo, I got some content to show you. Lorem ipsum occaecat eiusmod Ut et sit sint quis qui labore in exercitation
  esse. Lorem ipsum in aliquip esse anim aliquip ullamco sit dolor in deserunt eu labore. Lorem ipsum magna
  officia in laborum fugiat proident cupidatat in ex aliquip velit officia nulla aliquip ut. Lorem ipsum
  nostrud ad Ut nulla velit qui esse tempor Excepteur consectetur pariatur enim.
</div>
</div><div class="codeBlock"><div class="highlight"><pre><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#toggleArrow1"</span> <span class="na">class=</span><span class="s">"toggle toggleArrow "</span> <span class="na">data-toggle-text=</span><span class="s">"Fewer Options"</span><span class="nt">&gt;</span>More Options<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">"toggleArrow1"</span> <span class="na">class=</span><span class="s">"hideVisually"</span><span class="nt">&gt;</span>Yo, I got some content to show you. Lorem ipsum occaecat eiusmod Ut et sit sint quis qui labore in exercitation
  esse. Lorem ipsum in aliquip esse anim aliquip ullamco sit dolor in deserunt eu labore. Lorem ipsum magna
  officia in laborum fugiat proident cupidatat in ex aliquip velit officia nulla aliquip ut. Lorem ipsum
  nostrud ad Ut nulla velit qui esse tempor Excepteur consectetur pariatur enim.
<span class="nt">&lt;/div&gt;</span>
</pre></div></div></div>

*/

/**
 * Breakpoint
 *
 * https://github.com/Team-Sass/breakpoint
 * http://susy.readthedocs.org/en/latest/toolkit/#breakpoint
 */
@import "breakpoint";

/**
 * Breakpoint settings:
 */

// see: http://susy.readthedocs.org/en/latest/toolkit/#breakpoint
