/*doc
---
title: Breakpoints
name: Breakpoints
parent: 
category: Layout
---

Breakpoints are the major breakpoints within a design system. These are used in media queries via the breakpoint module.

*/

/**
 * Breakpoint
 *
 * https://github.com/Team-Sass/breakpoint
 * http://susy.readthedocs.org/en/latest/toolkit/#breakpoint
 */
@import "breakpoint";

/**
 * Breakpoint settings:
 */

// see: http://susy.readthedocs.org/en/latest/toolkit/#breakpoint
