/**
 * Archetype Layout
 * 
 * 1. Susy ( http://susydocs.oddbird.net/ ) - layout system
 * 2. Breakpoint ( https://github.com/Team-Sass/breakpoint ) - media query handling and helpers
 *
 * docs: on Susy & Breakpoint integration: 
 * http://susy.readthedocs.org/en/latest/toolkit/#breakpoint
 *
 */
@import "susy";         /* 1 */
@import "breakpoint";   /* 2 */

/**
 * Susy Config
 * http://susydocs.oddbird.net/en/latest/settings/#global-defaults
 */
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: split,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: .25, // this is always a fraction of one whole column
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: bottom right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: true,
    rem: true,
  )
);

/**
 * Breakpoint Config:
 *
 */

/**
 * Major Breakpoints
 */
$breakpoints_major: (
  small: 30em,  // 4 columns
  medium: 40em, // 8 columns
  large: 50em,  // 10 columns
  xlarge: 60em  // 12 columns (maximum supported screen width)
);

/**
 * Susy 'grid'
 */
$columns: (
  small: 4,
  medium: 8,
  large: 10,
  xlarge: 12
);

