/**
 * Burger parts
 *
 * (---) top    -> &:before
 * [---] middle -> &
 * (---) bottom -> &:after
 */


/**
 * Burger
 */

@mixin burger($width: 30px, $height: 5px, $gutter: 3px, $color: #000, $border-radius: 0, $transition-duration: .3s) {
    $burger-height: $height !global;
    $burger-gutter: $gutter !global;

    position: relative;
    margin-top: $height + $gutter;
    margin-bottom: $height + $gutter;

    &, &:before, &:after {
        display: block;
        width: $width;
        height: $height;
        background-color: $color;
        @if $border-radius != 0 {
            border-radius: $border-radius;
        }
        transition-property: background-color transform;
        transition-duration: $transition-duration;
    }

    &:before, &:after {
        position: absolute;
        content: "";
    }

    &:before {
        top: -($height + $gutter);
    }

    &:after {
        top: $height + $gutter;
    }
}


/**
 * Select parts of the burger
 */

@mixin burger-parts {
    &, &:before, &:after {
        @content;
    }
}

@mixin burger-top {
    &:before {
        @content;
    }
}

@mixin burger-middle {
    & {
        @content;
    }
}

@mixin burger-bottom {
    &:after {
        @content;
    }
}


/**
 * Burger animations
 */

@mixin burger-to-cross {
    & {
        background-color: transparent;
    }
    &:before {
        transform: translateY($burger-gutter + $burger-height) rotate(45deg);
    }
    &:after {
        transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
    }
}





.menu-button {
  display: inline-block;
  padding: .5em;
  background-color: #fafafa;
  border: 1px solid #ccc;
}

.burger-icon {
  @include burger(25px, 3px, 5px, #444);
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}

/**
 * Archetype Style Guide Styles
 *
 */

/**
 * Archetype-Layout
 * 
 */
@import "compass";
@import "breakpoint";
@import "susy";

/**
 * Susy Config
 *
 * http://susydocs.oddbird.net/en/latest/settings/#global-defaults
 */
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 10,
  gutters: .25,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: overlay,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

/**
 * Body
 *
 * 1. initiate Susy container, optionally pass in a container width paramiter
 */
.container {
  @include container();   /* 1 */
  @include pie-clearfix;
}

/**
 * Header
 */
.header {
  @include span(10 of 10);
}

.main-nav {
  background: #666666;
}

/** 
 * Navigation
 */

/* nav object */
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  @include pie-clearfix;
  & > li > a { 
    display: inline-block; 
  }        
}

.nav--slide {
  margin-left: -100%;
  @include span(2 of 10);
  background: #E5E5E5;
  &.is-active {
    margin-left: 0;
    margin-top: 1em;
  }
}

.menu-link {
  color: green;
  &.is-active {
    color: red;
  }
}

/**
 * Main Section
 */
.page {
  @include span(10 of 10);
  &.is-slide {
    @include span(8 of 10);
  }
}
