<!DOCTYPE html>
<html lang="en">
{% block head -%}
{% include 'includes/_head.html' -%}
{% endblock %}
<body class="page">
  
  <header class="header">
    <section class="main-nav">
      <a href="#" class="menu-link"><span class="icon-th-list-1"></span>menu</a>
    </section>
  </header>
  
  <nav class="nav--slide">

    <a href="/index.html">Home</a>
    <hr>
    <a href="/docs/readme.html">Docs</a>
    <ul>
      <li><a href="/docs/architecture.html">Architecture</a></li>
      <li><a href="/docs/fe-ops.html">Front End Ops</a></li>
      <li><a href="/docs/designPrinciples.html">Design Principles</a></li>
      <li><a href="/docs/componentAPI.html">Component API</a></li>
      <li><a href="/docs/performance-testing.html">Performance Testing</a></li>
      <li><a href="/docs/stylesheet-codingStandard.html">Stylesheet Coding Standard</a></li>
      <li><a href="/docs/stylesheet-testing.html">Architecture</a></li>
      <li><a href="/docs/mvcGuidelines.html">MVC Guidelines</a></li>
    </ul>
    
    <a href="/docs/archetypeModule.html">Archetype Modules</a>
    <ul>
      <li><a href="/main.scss.html">main.scss</a></li>
      <li><a href="/utilities/Archetype-u-colorkit.html">Archetype-u-colorkit</a></li>
      <li><a href="/components/typography.html">Archetype-c-typography</a></li>
      <li><a href="/components/Archetype-c-spacers.html">Archetype-c-spacers</a></li>
      <li><a href="/utilities/Archetype-u-componentConstructor">Archetype-u-componentConstructor</a></li>
      <li><a href="Archetype-u-units">Archetype-u-units</a></li>
      <li><a href="Archetype-c-page">Archetype-c-page</a></li>
    </ul>
       
    <a href="/objects.html">Objects</a>
    <ul>
      <li><a href="/objects/Archetype-o-nav.html">Archetype-o-object</a></li>
      <li><a href="/objects/Archetype-o-media.html">Archetype-o-media</a></li>
      <li><a href="/objects/Archetype-o-dismiss.html">Archetype-o-dismiss</a></li>
      <li><a href="/objects/Archetype-o-alert.html">Archetype-o-alert</a></li>
      <li><a href="/objects/Archetype-o-label.html">Archetype-o-label</a></li>
      <li><a href="/objects/Archetype-o-partition.html">Archetype-o-partition</a></li>
      <li><a href="/objects/Archetype-o-button.html">Archetype-o-button</a></li>
    </ul>

    <a href="/components.html">Components</a>
    <ul>
      <li><a href="/components/Archetype-c-typography.html">Archetype-c-typography</a></li>
      <li><a href="/components/Archetype-c-page.html">Archetype-c-page</a></li>
      <li><a href="/components/quotes.html">Archetype-c-quotes</a></li>
      <li><a href="/components/Archetype-c-tables.html">Archetype-c-tables</a></li>
      <li><a href="/components/Archetype-c-rules.html">Archetype-c-rules</a></li>
      <li><a href="/components/Archetype-c-lists.html">Archetype-c-lists</a></li>
      <li><a href="/components/Archetype-c-links.html">Archetype-c-links</a></li>
      <li><a href="/components/Archetype-c-figures.html">Archetype-c-figures</a></li>
      <li><a href="/components/Archetype-c-code.html">Archetype-c-code</a></li>
      <li><a href="/components/Archetype-c-media.html">Archetype-c-media</a></li>
      <li><a href="/components/Archetype-c-forms.html">Archetype-c-forms</a></li>
      <li><a href="/components/Archetype-c-buttons.html">Archetype-c-buttons</a></li>
      <li><a href="/components/Archetype-c-dismiss.html">Archetype-c-dismiss</a></li>
      <li><a href="/components/Archetype-c-alerts.html">Archetype-c-alerts</a></li>
      <li><a href="/components/Archetype-c-spacers.html">Archetype-c-spacers</a></li>
      <li><a href="/components/Archetype-c-tabs.html">Archetype-c-tabs</a></li>
      <li><a href="/components/Archetype-c-partitions.html">Archetype-c-partitions</a></li>
      <li><a href="/components/Archetype-c-labels.html">Archetype-c-labels</a></li>
      <li><a href="/components/Archetype-c-icons.html">Archetype-c-icons</a></li>
    </ul>
 
    <a href="/layout.html">Layout</a>
    <ul>
      <li><a href="">Breakpoints</a></li>
    </ul>

  </nav>   

  {% block page -%}
  <div class="mainContent">
    {{ content }}
  </div>
  {% endblock %}
  {% block footer -%}
    {% include 'includes/_footer.html' %}
  {%- endblock %}
</body>
</html>
