<!DOCTYPE html>
<html lang="en">
{% block head -%}
{% include 'includes/_head.html' -%}
{% endblock %}
<body class="container">
  
  <header class="header">
    <section class="main-nav">
      <a href="#" class="menu-link"><span class="icon-th-list-1"></span>menu</a>
      <a href="/index.html">Home</a>
      <a href="#" class="grid-link">Grid</a>
    </section>
  </header>
  
  <nav class="nav--slide">

    <a href="/settings.html">Utilities</a>
      <ul>
        <li><a href="/main.scss.html">Settings</a></li>
      </ul>

    <a href="/utilities.html">Utilities</a>
      <ul>
        <li><a href="/utilities/color-pallet.html">Color-Pallet</a></li>
      </ul>
       
    <a href="/objects.html">Objects</a>
      <ul>
        <li><a href="/objects/nav-object.html">Nav-Object</a></li>
        <li><a href="/objects/media-object.html">Media-Object</a></li>
        <li><a href="/objects/close-object.html">Close-Object</a></li>
        <li><a href="/objects/alert-object.html">Alert-Object</a></li>
        <li><a href="/objects/label-object.html">Label-Object</a></li>
        <li><a href="/objects/partition-object.html">Partition-Object</a></li>
        <li><a href="/objects/button-object.html">Button-Object</a></li>
      </ul>

    <a href="/components.html">Components</a>
      <ul>
        <li><a href="/components/c-typography.html">Typography-Pallet</a></li>
        <li><a href="/components/structure-units.html">Structure-Units</a></li>
        <li><a href="/components/c-page.html">Page</a></li>
        <li><a href="/components/c-quotes.html">Quotes</a></li>
        <li><a href="/components/c-tables.html">Tables</a></li>
        <li><a href="/components/c-rules.html">Rules</a></li>
        <li><a href="/components/c-lists.html">Lists</a></li>
        <li><a href="/components/c-links.html">Links</a></li>
        <li><a href="/components/c-figures.html">Figures</a></li>
        <li><a href="/components/c-code.html">Code</a></li>
        <li><a href="/components/c-media.html">Media</a></li>
        <li><a href="/components/c-forms.html">Forms</a></li>
        <li><a href="/components/c-buttons.html">Buttons</a></li>
        <li><a href="/components/c-close.html">Close</a></li>
        <li><a href="/components/c-alerts.html">Alerts</a></li>
        <li><a href="/components/c-spacers.html">Spacers</a></li>
        <li><a href="/components/c-tabs.html">Tabs</a></li>
        <li><a href="/components/c-partitions.html">Partitions</a></li>
        <li><a href="/components/c-labels.html">Labels</a></li>
        <li><a href="/components/c-icons.html">Icons</a></li>
      </ul>
 
    <a href="/layout.html">Layout</a>
      <ul>
        <li><a href="/layout/breakpoints.html">Breakpoints</a></li>
      </ul>

  </nav>   

  {% block page -%}
  <div class="page">
    {{ content }}
  </div>
  {% endblock %}
  {% block footer -%}
  {% include 'includes/_footer.html' %}
  {%- endblock %}
</body>
</html>
